@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-gray-700;
  }

  body {
    @apply text-gray-100 antialiased;
    font-family: Arial, Helvetica, sans-serif;
    background: #0a0a0a;
  }

  html {
    @apply scroll-smooth;
    background: #0f0f0f;
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-900;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-purple-600 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-purple-500;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
